body {
  min-height: 500px;
}

small {
  font-size: 1rem;
}

form input[type="date"] {
  min-width: 135px;
}


.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-height: 5rem;
  left: 50vw;
  top: 10vh;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3000;
}

.table th,
.table td {
  padding: 0.5rem 0.25rem;
  border-top: none !important;
  border-bottom: none !important;
}

tr th+th,
tr th+td,
tr td+td {
  border-left: 1px solid #dee2e6;
}

th span {
  display: none;
}

td select {
  background: none !important;
}

#startDateColumn:hover>span {
  display: inline;
}

#dueDateColumn:hover>span {
  display: inline;
}

#statusColumn:hover>span {
  display: inline;
}

.table tr+tr {
  border-top: 1px solid #dee2e6;
  ;
}

input {
  font-size: 1rem !important;
}



th:nth-child(2) {
  min-width: 400px;
}

td:nth-child(4),
td:nth-child(3),
th:nth-child(3),
th:nth-child(4) {
  max-width: 120px;
}

table input[type="text"] {
  padding: 0 0.5rem;
  width: 100%;
}

table input {
  border: none;
  background-color: transparent;
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-clear-button {
  display: none;
}




/* chart */

.taskChart {
  font-size: .75rem;
  position: relative;
}

.taskName {
  /* overflow:hidden; */
  width: 100%;


}

.tasksInChartHeader {
  height: 60px;
}

.taskRow {
  min-height: 30px;
  max-height: 30px;
}

.timing-wrapper {
  overflow-x: scroll;
}

.scaleButtons {
  position: absolute;
  top: 5px;
  right: 20px;
  display: flex;
  z-index: 1;
  opacity: 0.5;
}

.scaleButtons:hover {
  opacity: 1;
}

.scaleButtons>.btn {
  min-width: 30px;
}

.timing {
  min-width: max-content;
}

.days {
  overflow-x: hidden;
}

.textInBox,
.month,
.day {
  vertical-align: middle;
  text-align: center;
}

.day {
  position: relative;
}

.dateTip {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 55px;
  z-index: 2;
}

.day:hover>.dateTip {
  display: flex;
}


.taskDates {
  min-height: 100%;
  display: flex;
  position: relative;
}

.timeBlock {

  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100%;
}

.left,
.right {
  cursor: e-resize;

  min-width: 5px;
  height: 100%;
  background-color: darkseagreen;
}