
small{
  font-size: 1rem;
}

#task-form{
  background-color: rgb(174, 225, 238);
}

.alert{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-height: 5rem;
  left:50vw;
  top:50vh;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3000;
}



.table th, .table td{
  padding: 0.5rem 0.25rem;
  border-top: none !important;
  border-bottom: none !important;
}
tr th+th, tr th+td, tr td+td{
  border-left: 1px solid #dee2e6;
}
th span{
  display: none;
}

#startDateColumn:hover>span{
  display: inline;
}
#dueDateColumn:hover>span{
  display: inline;
}
#statusColumn:hover>span{
  display: inline;
}

.table tr+tr{
 border-top: 1px solid #dee2e6;;
}
input{
  font-size: 1rem !important;
}



th:nth-child(2){
  min-width: 400px;
}
td:nth-child(4),
td:nth-child(3),
th:nth-child(3),
th:nth-child(4){
  max-width: 120px;
}

table input[type="text"]{
  padding: 0 0.5rem;
  width: 100%;
}
table input{
  border: none;
  background-color: transparent;
}

::-webkit-inner-spin-button { display: none; }
::-webkit-clear-button{display:none;}




/* chart */

.taskChart{
  font-size: .75rem;
}
.taskName{
  width: 490px;
  min-width: 150px;
  
}
.day{
  width: 20px;
  text-align: center;
}


.taskDates{
  min-height: 100%;
  display: block;
  position: relative;
}
.timeBlock{
  cursor: move;
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100%;
 }

 .left,
.right{
  cursor: e-resize;
  
  min-width: 5px;
  height: 100%;
  background-color: darkseagreen;
}